<header>
  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem"><a href="/"><h1 class="site-title"><i class = "fa fa-money"></i>  Cash4U</h1></a></li>
      <li class="navitem navlink"><a href="/help">Help</a></li>
      <li class="navitem navlink"><a href="/about">About</a></li>
      <li class="navitem navlink"><a href="/contact">Contact Us</a></li>
      <li class="navitem navlink"><a href="/report">Report a Problem</a></li>
      <li class="navitem navbar-search">
        <button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
        <input type="text" id="navbar-search-input" placeholder="Search...">
      </li>
    </ul>
  </nav>
</header>
