<header>
  <a href="/"><h1 class="site-title"><i class = "fa fa-money"></i>Cash4U</h1></a>
  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink"><a href="/">Home</a></li>
      <li class="navitem navlink"><a href="./../../public/help.html">Help</a></li>
      <li class="navitem navlink"><a href="./../../public/about.html">About</a></li>
      <li class="navitem navlink"><a href="./../../public/contact.html">Contact Us</a></li>
      <li class="navitem navlink"><a href="./../../public/report.html">Report a Problem</a></li>
      <li class="navitem navbar-search">
      <input type="text" id="navbar-search-input" placeholder="Search...">
      <button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
      </li>
    </ul>
  </nav>
</header>
