<main class="total-container">
      <div class="entry-icon2">
        <i class="fa fa-money"></i>
      </div>
      <div class="entry-content2">
      <p class="total-have">
        You have:
      </p>
      <p class="total-amount">
        {{total-money}}
  </p>
  </div>
</main>
