<button type = "button" id = "create-entry-button3"><i class = "fa fa-minus"></i></button>
<div id = "modal-backdrop" class = "hidden"></div>
<div id = "create-entry-modal2" class = "hidden">
  <div class = "modal-dialog">
    <div class = "modal-header">
      <h3>Create an Entry</h3>
      <button type = "button" class = "modal-close-button">&times;</button>
     </div>
     <div class = "modal-body">
      <div class = "entry-input-element">
       <label for = "entry-amount-input">Entry amount</label>
       <textarea id = "entry-amount-input"></textarea>
      </div>
      <div class = "entry-input-element">
        <label for = "entry-name-input">Name</label>
        <input type = "text" id = "entry-name-input">
      </div>
     </div>
     <div class = "modal-footer">
      <button type = "button" class = "modal-cancel-button">Cancel</button>
      <button type = "button" class = "modal-accept-button">Create Entry</button>
     </div>
    </div>
   </div>
