<article class="entry">
  <div class="entry-content">
    <p class="entry-amount">
      {{amount}}
    </p>
    <p class="entry-name">
     <a href="#">
       {{name}}
     </a>
    </p>
  </div>
</article>
