<<<<<<< HEAD
<article class="entry">
  <div class="entry-content">
    <p class="entry-amount">
      {{amount}}
    </p>
    {{#if name}}
      <p class="entry-name">
        {{name}}
      </p>
    {{/if}}
    <p class="entry-description">
       {{description}}
    </p>
  </div>
</article>
=======

>>>>>>> 63d1b6ec85066c07ba022c78732b1bfb7fa3d901
