<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Cash Trak</title>

    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron:100,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">
    <link rel="stylesheet" href="/style.css" media="screen">

  </head>
  
  <body>
    
    {{{body}}}

    <footer class ="foooter">
      <div class = "wrapper">   
        <nav>    
            <ul class ="nav">
              <li class="link1"><a href="/Asset 4.svg">HOME</a></li>
              <li class="link2"><a href="#">FORUM</a></li>
              <li class="link3"><a href="">TUTORIALS</a></li>
              <li class="link4"><a href="/about">ABOUT-US</a></li>
              <li class="link5"><a href="/contact">CONTACT</a></li>
              <li class="link6"><a href="/report">REPORT-AN-ERROR</a></li>
              <br>
              <br>

              <h1 class="copyright">© 2017 CashTrak</h1>

            </ul>
        </nav>
      </div>
    </footer>


  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
  <script src="/entryTemplate.js"></script>
  <script src="/fp.js" charset="utf-8"></script>

</html>