{{>header}}
<main class = "about-container">
	<h2>About Us</h2>
	<p>
		We are a group of web development students who decided to dive into the online banking world with our site Cash Trak. Cash Trak allows users to deposit money into their account, withdraw money from their account, and send money to their friends, family, or business associates. 
		<br/><br/>
		We offer 24/7 online support (See our <strong><a href="/help">Help</a></strong> page for details on how to talk with support) and users have access to our online <strong><a href="/">Forum</a></strong> where they can give suggestions and make new business partners. 
		<br/><br/>
		If you ever run into an unexpected error or missing money, please <strong><a href="/report">Report the Problem</a></strong>!
		<br/><br/>
		If you have any questions or suggestions, please <strong><a href="/contact">Contact Us</a></strong>!
	</p>
</main>
