{{>header}}
<main class = "contact-container">
	<h2>Contact Us</h2>
	<p>
		<strong>Email:</strong> maverick.briggs@cashtrak.com<br/>
		<strong>Support Email:</strong> support@cashtrak.com<br/>
		<strong>Report Email:</strong> report@cashtrak.com<br/>
		<strong>Phone:</strong> 503-808-3256<br/>
		<strong>Fax:</strong> +1 (0)1854 7563938<br/>
		<strong>Pager:</strong> +1 248 4289532<br/>
	</p>
</main>
{{>footer}}