
{{> header}}

<main class = "entry-container">
      {{#each entries}}
            {{>entry}}
      {{/each}}
      {{>createEntryModal}}
      {{>createEntryModal2}}
      {{>createEntryModal3}}


</main>
{{>total}}
{{>footer}}