<footer class ="foooter">
  <div class = "wrapper">   
    <nav>    
      <ul class ="nav">
        <li class="link1"><a href="/Asset 4.svg">HOME</a></li>
        <li class="link2"><a href="#">FORUM</a></li>
        <li class="link3"><a href="#">TUTORIALS</a></li>
        <li class="link4"><a href="/about">ABOUT</a></li>
        <li class="link5"><a href="/contact">CONTACT</a></li>
        <li class="link6"><a href="/report">REPORT-AN-ERROR</a></li>
        <br>
        <br>
        <h1 class="copyright">© 2017 CashTrak</h1>
      </ul>
    </nav>
  </div>
</footer>