{{>header}}
<h2>Help Page</h2>
<p>This site's functionality can be used to deposit or withdraw your funds. In the bottom right corner, simply press the plus button to add funds or press the minus sign to withdraw your money. If you want to transfer it to another's, then use the paper plane button to do so. Be sure to include the amount you want to interact with if you choose to use our site. If you're sending funds, then you need to include a name that you're transferring to.</p>
