{{>header}}
<main class = "help-container">
	<h2>Help Page</h2>
	<p>
		Cash Trak allows you to deposit or withdraw your money with ease! Follow the below steps to utlize all of the things we have to offer.
		<br/><br/>
		<b>1.</b> In the bottom right corner, simply press the plus button to add funds or press the minus sign to withdraw your money.
		<br/><br/>
		<b>2.</b> If you want to transfer money to another person's account, then press the paper plane button.
		<br/><br/>
		<b>3.</b> Remember to fill out each form completely before proceeding with an action!
		<br/><br/>
		<b>4.</b> If you are still having trouble using our site, take advantage of our 24/7 support service: support@cashtrak.com
	</p>
</main>
{{>footer}}