{{>header}}
<main class = "error-container">
  <h2>$$$</h2>
  <h3>Here comes the money!!</h3>
  <br/><br/>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/HMuYfScGpbE?autoplay=1" frameborder= allowfullscreen></iframe>
</main>