{{>header}}
<main class = "report-container">
	<h2>Report-an-Error</h2>
	<p>
		See a bug? Receiving an unexpected error? Notice a potential problem?
		<br/><br/>
		You can report it by emailing the report team: report@cashtrak.com
	</p>
</main>
