body {
  font-family: Lato, Helvetica, sans-serif;
  margin: 0;
  background-color: #eeeeee;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
}

a {
  text-decoration: none;
}

header{
  box-shadow: 0px 2px 20px 0px #000;
}

.logs{
  /*
  background-image:url('banner.jpg');
  margin:0px;
  display: block;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  width: 100%;
  background-size: 100%;
  background-image: no-repeat;
  background-position: center;
  */
  /*height: 250px;/*250px is perfect height for banner pic*/

}

.logs-header{
  background-color: #28e604 ;
  width: 100%;
  margin-top:15px;
  margin-bottom: 0px; /*delete if h1 connects to content*/
  text-align: center;
  font-family: lato, Helvetica, sans-serif;
  font-weight:normal;
  letter-spacing: 4px;
  color: white;
}
.logs-header:hover{
    background-color: #82fd6b;
    color:black;
}

.navbar {
  font-family: Orbitron;
  background-color: #57b50c;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
  font-size: 20px;
  height: 98px;
}

.navlist {
  margin: 0 0 0 0px;
  padding-left: 60px;
  text-align: left;

}

.navitem {
  display: inline-block;
}

a {
  color: #000000;
}

a:hover,
a:focus {
  color: #ffffff;
}

a:focus {
  outline: none;
}

.navlink a {
  padding-right: 30px;
  display: inline-block;
}

.navlink.active {
  box-shadow: inset 0 -3px #57b50c;
}

.site-title {
  margin-bottom: -37px;
  float: left;
  margin-left: -70px;
  margin-top: 48px;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  padding-right: 25px;
}

img {
  margin-top: -38px;
  height: 75px;
  margin-left: 30px;
}

.navbar-search {
  float: right;
  margin-right: 10px;
  margin-top: 33px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #ffffff;
}

#navbar-search-button:focus {
  color: #ffffff;
  outline: none;
}

.entry-container {
  margin: 18px 10%; /*Originally 50px 10%*/
  display: flex;
  flex-wrap: wrap;
}

.total-container{
      padding: 5px;
      display: flex;
      position: absolute;
      right: 10px;
      top: 110px;
      width: 120px;
      background-color: #ffffff;
      border-style: outset;
      border-color: #43840b;
}

.total-content{
      flex: 1 1 80%;
      margin-left: 10px;

}

.total-have{
      text-align: center;
}

.total-amount{
      font-weight: bold;
      color: #43840b;
      text-align: center;
}

.entry {
  flex: 0 1 80%;
  display: flex;
  margin: 15px;
  padding: 10px;
  border-radius: 2px;
  background-color: #fff;
  border-style: outset;
  border-color: #43840b;
  background-image: url(https://www.transparenttextures.com/patterns/diamond-upholstery.png);
}

.entry-icon {
  font-size: 60px;
  color: #43840b;
  padding-left: 10px;
  margin-top: -8px;
}

.entry-icon2 {
  font-size: 30px;
  color: #43840b;
}

.entry-content {
  flex: 1 1 80%;
  margin-left: 30px;
}

.entry-content2 {
  flex: 1 1 80%;
  margin-left: 10px;
}

.entry-content p {
  margin: 0;
  font-size: 25px;
  padding-bottom: 10px;
}

.entry-content2 p {
  margin: 0;
}

/*.entry-content .entry-name {
  margin-top: 8px;
  text-align: right;
  font-weight: bold;
}
*/
#create-entry-button1 {
  position: fixed;
  right: 30px;
  bottom: 260px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  font-size: 36px;
  background-color: #00c561;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#create-entry-button2 {
  position: fixed;
  right: 30px;
  bottom: 170px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  font-size: 36px;
  background-color: #28e604;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#create-entry-button3 {
  position: fixed;
  right: 30px;
  bottom: 80px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  font-size: 36px;
  background-color: #28e604;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#create-entry-button1:hover{
      border-radius: 50px;
      width: 80px;
      height: 80px;
      background-color: #2ff791;
      color: #000000;
}

#create-entry-button2:hover{
      border-radius: 50px;
      width: 80px;
      height: 80px;
      background-color: #82fd6b;
      color: #000000;
}

#create-entry-button3:hover{
      border-radius: 50px;
      width: 80px;
      height: 80px;
      background-color: #82fd6b;
      color: #000000;
}

#create-entry-button:hover,
#create-entry-button:focus {
  right: 27px;
  bottom: 27px;
  height: 66px;
  width: 66px;
  border-radius: 33px;
  font-size: 40px;
  background-color: #57b50c;
}

#create-entry-button:focus {
  outline: none;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#create-entry-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#create-entry-modal2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#create-entry-modal3 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.entry-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.entry-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
  text-align: center;
}

.entry-input-element input,
.entry-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.entry-input-element textarea {
  min-height: 64px;
}

.subtitle-1{
  margin-left: 200px;
  float: right;
  font-size: 12px;
  color:#fff;
}

footer{
  width: 100%;
  background-color:#222;
  padding: 60px 0px;
  padding-top: 0px;
  margin-top: 100px;
}

footer nav{
  float: left;

}

footer nav ul{
}

footer nav ul li{
  display: inline-block;
  margin-left: 20px;
  list-style: none;
}

footer nav ul li a{
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  color:#fff;
  text-align: center;
}
/*
#nav{
  text-align: justify;
  min-width: 500px;
}
#nav:after{
  content: '';
  display: inline-block;
  width: 100%;
}
#nav li{
  display: inline-block;
}
*/
.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #28e604;
  color: #333;
}

.modal-footer .modal-accept-button2 {
  background-color: #00c561;
  color: #333;
}

.modal-footer .modal-accept-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button2:hover {
  background-color: #eee;
}

.error-container {
  margin-top: 50px;
  text-align: center;
}

.error-container h2 {
  margin: 10px 0;
  font-size: 96px;
  font-weight: 100;
}

.error-container h3 {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 400;
}
